{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <div class="media">
            <h1 class="mt-0">{{ program.title }}</h1>
            <h2 class="mt-0">Saison {{ season.number }}</h2>
            <h3 class="mt-0">Episode n° {{episode.number }} : {{ episode.title }}</h3>
            <h4 class="mt-0">Résumé : {{ episode.synopsis }}</h4>
			</div>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}