{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
    <h1>Acteur : {{ actor.name }}</h1>
    <h2>Programmes associés à cet acteur :</h2>
    <ul>
     {% for program in actor.programs %}
        <li><a href="{{ path('program_show', { 'slug': program.slug }) }}">{{ program.title }}</a></li>
        <img src="{{ vich_uploader_asset(actor)}}" alt="{{ actor.name }}">
    {% endfor %}
    </ul>
{% endblock %}
